@mixin mobile{
    @media screen and (max-width480px){
        @content;
    }
}

// Página principal, logeo y registro
.contenedor{
    background-color: #B4AEE8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper{
        background-color: #FFD3B5;
        padding: 20px 60px;
        border-radius: 15px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            input{
                padding: 15px;
                border: none;
                border-bottom: 2px solid #e8b99b;
            }

            button{
                padding: 15px;
                border: none;
                border-radius: 15px;
                background-color: #54502f;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                transition: .3s ease all;

                &:hover{
                    background-color: #8a68b2;
                }
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            img{
                width: 32px;
            }

        }

        p{
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
        }

        .nombre-Proyecto{
            font-size: 1.5rem;
            font-weight: bold;
            color: #333;
        }

        .titulo{
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            
        }

    }
}

// Página principal
.Inicio{

    background-color: #B4AEE8;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;

    .Contenedor2{
        border: 1px solid #403f3f;
        border-radius: 15px;
        width: 65%; //pasar a 100% al incluir responsividad
        height: 80%;
        display: flex;
        overflow: hidden;

        @include mobile{ //Usar Include Mobile para cambiar tamaño de las barras al pasar a telefono, responsive!
            display: none;
        }

        // Toda la parte izquierda
        .BarraLateral{
            // Color donde estan los usuarios
            flex: 1;
            background-color: #333333;

            //Parte de arriba de donde estan los usuarios, logo, nombre, etc
            .BarraDeNavegacion{
                display: flex;
                gap: 10px;
                padding: 10px;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                background-color:  #6C63FF;
                font-size: 20px;

                .Logo{
                    font-weight: bold;
                    @include mobile{
                        display: none;
                    }
                }

                .Usuario{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    button{
                        padding: 5px;
                        border: 5px;
                        border-radius: 7px;
                        background-color: #a15acb;
                        font-weight: bold;
                        cursor: pointer;
                        transition: .3s ease all;
    
                        &:hover{
                            background-color: #632d6f;
                        }
                    }

                    img{
                        background-color: white;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                }

            }

            // Barra busqueda
            .Busqueda{
                border-bottom: 1px solid rgb(239, 238, 240);
    
                .Formato{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #fff;
                    }

                }
    
            }
    
            .ChatDeUsuario{
                padding: 10px;
                display: flex;
                cursor: pointer;
                color: white;
                gap: 10px;
                align-items: center;

                &:hover{
                    background-color: #8a68b2;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                //Nombre del chat que tocamos
                .UserChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 12px;
                        color: #fcfcfc;
                    }
                }
                
            }

        }

        //Parte derecha de la app
        .ChatSolo{
            flex: 2;

            //Nombre del usuario
            .ChatInfo{
                display: flex;
                height: 50px;
                background-color: #333333;
                align-items: center;
                padding: 10px;
                color: rgb(253, 253, 253);
                font-size: 30px;
            }

            // Parte de los mensajes
            .Mensajes{
                background-color: lightgray;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                // Mensajes enviados
                .Mensaje{
                    display: flex;
                    gap: 20px;

                    .Info{
                        display: flex;
                        color: rgb(128, 128, 128);
                        flex-direction: column;
                        margin-bottom: 20px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;   
                            background-color: transparent;
                        }
                    }

                    .Contenido{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                    }

                    &.Mio{
                        flex-direction: row-reverse;

                        .Contenido{
                            align-items: flex-end;
                        }

                        p{
                            background-color: white;
                            color: rgb(17, 1, 1);
                            border-radius: 10px 0px 10px 10px;
                        }

                    }

                }

            }

            .InputMensaje{
                background-color: white;
                height: 50px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #000000;
                }

                .Enviar{

                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button{
                        padding: 5px;
                        border: 5px;
                        border-radius: 7px;
                        background-color: #a15acb;
                        font-weight: bold;
                        cursor: pointer;
                        transition: .3s ease all;
    
                        &:hover{
                            background-color: #632d6f;
                        }
                    }
                }
                

            }

        }

        .Chats{
            .Usuario{
                display: flex;
                gap: 10px;
                padding: 10px;
                cursor: pointer;
                color: white;
                align-items: center;

                &:hover{
                    background-color: #8a68b2;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .UserChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 12px;
                        color: gray;
                    }
                }
                
            }
        }
        
        .message {
            display: flex;
            gap: 5px;
            margin-bottom: 20px;
  
            .Info {
              display: flex;
              flex-direction: column;
              color: gray;
              font-weight: 300;
  
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                background-color: transparent;
              }
            }

            .Contenido{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                background-color: white;
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
                }

                img {
                width: 50%;
                border-radius: 10px;
                object-fit: cover;
                background-color: transparent;
                }

            }
            &.owner {
                flex-direction: row-reverse;
    
                .Contenido {
                  align-items: flex-end;
                  p {
                    background-color: #f9f9f9;
                    color: rgb(0, 0, 0);
                    border-radius: 10px 0px 10px 10px;
                  }
                }
            }
            
        }   
    }
}